.main {
  padding: 1rem;
  margin-left: var(--comp-sidebar-width);
  transition: all .3s ease-out;
}

@media only screen and (max-width: 650px) {
  .main {
    margin-top: var(--comp-header-height);
    margin-left: 0;
  }
}


.sidebaropen {
  margin-left: var(--comp-sidebar-width-open);
}

