.sectionaudits {
  display: flex; justify-content: flex-start; align-items: flex-start;
}

@media only screen and (max-width: 1150px) {
  .sectionaudits {
    display: block;
  }
}

.sectionaudits-left {
  width: 70%;
  margin-right: 2rem;
}

@media only screen and (max-width: 1150px) {
  .sectionaudits-left {
    width: auto;
    margin-right: 0;
  }
}

.sectionaudits-right {
  width: 30%;
}

@media only screen and (max-width: 1150px) {
  .sectionaudits-right {
    width: auto;
  }
}

.sectionaudits-right-banner {
  height: 420px;
}

@media only screen and (max-width: 1450px) {
  .sectionaudits-right-banner {
   display: none;
  }
}

.sectionaudits-right-banner > img {
  height: 100%;
  display: block;
}


/* 
COMPONENT CIRCLE
*/
.compcircle {
  position: relative;
}

.compcircle-canvas {
  display: block;
  position: relative;
  transform: rotateZ(-90deg);
}

.compcircle-frame {
  position: absolute;
  top: 50%; left: 50%;
  border-color:  #ebefef;
  border-style: solid;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

.compcircle-frame-shadow {
  width: 100%; height: 100%;
  border-radius: 50%;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2);
}

.compcircle-frame-info {
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  display: flex; justify-content: center; align-items: center; flex-direction: column;
  font-size: 17px; font-weight: 500;
}


/*
*
* SCORES CARD COMPONENT
* component is divided as top and bottom. Bottom div has fixed height in order to align the right progress bars equally with the left circle height. after 950 or other device width, we remove the fixed height
*
*/
.compscores {
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: var(--border-radius-small);

}

.compscores-top {
  padding: 1.4rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  height: 100px;
}

@media only screen and (max-width: 650px) {
  .compscores-top {
    padding: 1rem;
  }
}

.compscores-top-title {
  font-size: 17px; font-weight: 600;
}

.compscores-top-address {
  font-size: 15px; font-weight: 400;
  color: rgba(0, 0, 0, 0.6);
  word-break: break-all;
}

.compscores-bottom {
  padding: 1.4rem;
  height: 360px;
  display: flex; justify-content: flex-start; align-items: flex-start; 
}

@media only screen and (max-width: 650px) {
  .compscores-bottom {
    padding: 1rem;
  }
}

@media only screen and (max-width: 950px) {
  .compscores-bottom {
    display: block;
    height: auto;
  }
}

.compscores-bottom-left {
  width: 320px; height: 100%;
  display: flex; justify-content: space-between; align-items: center; flex-direction: column;
}

@media only screen and (max-width: 650px) {
  .compscores-bottom-left {
    width: auto;
  }
}

.compscore-bottom-left-improvebtn {
  border: 1px solid black;
  color: black;
  border-radius: var(--border-radius-small);
  padding: 1rem;
  text-align: center;
  font-size: 16px; font-weight: 600;
  width: 100%;
  cursor: pointer;
  display: flex; justify-content: center; align-items: center;
  white-space: nowrap;
}

@media only screen and (max-width: 950px) {
  .compscore-bottom-left-improvebtn {
    margin-top: 1rem;
  }
}

@media only screen and (max-width: 650px) {
  .compscore-bottom-left-improvebtn {
    font-size: 14px;
  }
}

.compscore-bottom-left-improvebtn > svg {
  margin-right: .4rem;
  width: 20px;
  font-size: 20px;
  margin-top: 4px;
}

.compscores-bottom-right {
  margin-left: 2rem;
  width: 100%; height: 100%;
  display: flex; justify-content: space-between; align-items: flex-start; flex-direction: column;
}

@media only screen and (max-width: 950px) {
  .compscores-bottom-right {
    margin-left: 0rem;
    margin-top: 1rem;
  }
}

.compscores-bottom-right-desc {
  margin-bottom: 1rem;
}

.compscores-bottom-right-barctr {
  width: 100%;
}

@media only screen and (max-width: 950px) {
  .compscores-bottom-right-barctr {
    margin-bottom: 1.4rem;
  }
}

.compscores-bottom-right-barctr-label {
  font-size: 17px; font-weight: 400;
}

@media only screen and (max-width: 650px) {
  .compscores-bottom-right-barctr-label {
    font-size: 14px;
  }
}

.compscores-bottom-right-barctr-label > span {
  font-weight: 500;
}

.compscores-bottom-right-barctr-bar {
  width: 100%; height: 20px;
  margin-top: .2rem;
  border-radius: var(--border-radius-small);
  overflow: hidden;
  position: relative;
  background-color:  #ebefef;
}

.compscores-bottom-right-barctr-bar-progressfailed {
  width: 35%; height: 100%;
  position: absolute;
  background-color: var(--red);
  transition: all 1s ease-in;
}
