.sectiondash {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 1.2rem;
}

@media only screen and (max-width: 1150px) {
  .sectiondash {
    display: block;
  }  
}

@media only screen and (max-width: 650px) {
  .sectiondash {
    margin-top: 0;
  }  
}

.sectiondash-left {
  width: 50%;
  margin-right: 2rem;
}

@media only screen and (max-width: 1150px) {
  .sectiondash-left {
    width: auto;
    margin-right: 0;
  }
}

.sectiondash-left-inputarea {
  margin-top: 1rem;
  display: flex; justify-content: flex-start; align-items: center;
}

@media only screen and (max-width: 650px) {
  .sectiondash-left-inputarea {
    display: block;
  }
}

.sectiondash-left-inputarea-live {
  height: calc(4rem +  36px); width: 240px;
  background-color: rgb(235, 235, 235);
  border-radius: var(--border-radius-large);
  padding: 1rem;
  font-size: 13px;
  line-height: 17px;
  position: relative;
  margin-right: 1rem;
}

@media only screen and (max-width: 650px) {
  .sectiondash-left-inputarea-live {
    width: 100%; height: auto;
  }
}

.sectiondash-left-inputarea-live-logo {
  background-color: brown;
  width: 34px; height: 34px;
  display: flex; justify-content: center; align-items: center;
  border-radius: 50%;
  color: white;
  position: absolute;
  left: -17px; top: -17px;
}

@media only screen and (max-width: 650px) {
  .sectiondash-left-inputarea-live-logo {
    width: 24px; height: 24px;
    font-size: 9px;
    left: -6px; top: -6px;
  }
  
}

.sectiondash-right {
  width: 50%;
}

@media only screen and (max-width: 1150px) {
  .sectiondash-right {
    width: auto;
    margin-top: 1rem;
  }
}

/*
*
* HELLO COMPONENT
*
*/
.comphello {
  height: 170px;
  border-radius: var(--border-radius-large);
  background-color: rgb(235, 235, 235);
  display: flex; justify-content: flex-start; align-items: center;
  position: relative;
}

@media only screen and (max-width: 650px) {
  .comphello {
    height: 120px;
  }
}

.comphello-textarea {
  margin-left: 2rem;
}

@media only screen and (max-width: 650px) {
  .comphello-textarea {
    margin-left: 1rem;
  }
}

.comphello-textarea-title {
  font-size: 30px; font-weight: bold;
}

@media only screen and (max-width: 1450px) {
  .comphello-textarea-title {
    font-size: 20px;
  }
}

@media only screen and (max-width: 650px) {
  .comphello-textarea-title {
    font-size: 16px;
  }
}

.comphello-textarea-desc {
  font-size: 18px; font-weight: 400;
}

@media only screen and (max-width: 1450px) {
  .comphello-textarea-desc {
    font-size: 16px;
  }
}

@media only screen and (max-width: 650px) {
  .comphello-textarea-desc {
    font-size: 13px;
  }
}

.comphello-manimg {
  width: 170px;
  position: absolute;
  right: 10%;
  bottom: 0;
}

@media only screen and (max-width: 650px) {
  .comphello-manimg {
    width: 110px;
    right: 8%;
  }
}


/**
*
* INPUT COMPONENT
*
*/
.compinput {
  border-radius: var(--border-radius-large);
  background-color: rgb(235, 235, 235);
  padding: 1rem;
  position: relative;
  width: 100%;
}

@media only screen and (max-width: 650px) {
  .compinput {
    margin-top: 1rem;
  }
}

.compinput-bg {
  border-radius: var(--border-radius-small);
  background-color: white;
  padding: 1rem;
  display: flex; justify-content: space-between; align-items: center;
}

@media only screen and (max-width: 650px) {
  .compinput-bg {
    padding: 0;
    background-color: transparent;
  }
}

.compinput-bg-inputarea {
  height: 36px; width: 100%;
  border-radius: var(--border-radius-small);
  border: 1px solid rgb(218, 218, 218);
  position: relative;
  display: flex; justify-content: flex-start; align-items: center;
  background-color: white;
}

@media only screen and (max-width: 650px) {
  .compinput-bg-inputarea {
    height: 38px;
  }
}

.compinput-bg-inputarea-dd {
  width: 50px; height: 100%;
  border-right: 1px solid rgb(218, 218, 218);
  cursor: pointer;
  display: flex; justify-content: center; align-items: center;
  padding: .4rem .4rem;
}

.compinput-bg-inputarea-dd > img {
  display: block;
  height: 100%;
}

.compinput-bg-inputarea-ddoptions {
  transition: all .2s ease;
  width: 200px; height: 0;
  overflow: hidden; overflow-y: scroll;
  position: absolute;
  top: 100%; left: 0;
  opacity: 0;
  border-radius: var(--border-radius-small);
  background-color: white;
  box-shadow: 0px 10px 20px 1px rgba(0, 0, 0, 0.3);
}

.compinput-bg-inputarea-ddoptionsopen {
  height: 200px;
  opacity: 1;
}

.compinput-bg-inputarea-ddoptions-item {
  transition: all .2 ease-in;
  padding: .6rem .8rem;
  height: 36px;
  border-bottom: 1px solid rgb(218, 218, 218);
  cursor: pointer;
  display: flex; justify-content: flex-start; align-items: center;
}

.compinput-bg-inputarea-ddoptions-item:hover {
  background-color: rgb(218, 218, 218);
}

.compinput-bg-inputarea-ddoptions-item-img {
  display: block;
  height: 100%;
}

.compinput-bg-inputarea-ddoptions-item-name {
  margin-left: 1rem;
  font-size: 12px; font-weight: 500;
}

.compinput-bg-inputarea-input {
  height: 100%; width: 100%;
  padding: 0 .8rem;
  font-weight: 500; font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
  font-weight: 600;
  border-radius: var(--border-radius-small);
}

@media only screen and (max-width: 650px) {
  .compinput-bg-inputarea-input {
    font-size: 12px;
  }
}

.compinput-bg-btn {
  margin-left: 1rem;
  height: 36px; width: 120px;
  border-radius: var(--border-radius-small);
  font-size: 14px; font-weight: 600;
  background-color: black; color: white;
  cursor: pointer;
}

@media only screen and (max-width: 650px) {
  .compinput-bg-btn {
    font-size: 13px;
    margin-left: .6rem;
  }
}

/**
*
* LATEST AUDITS COMPONENT
*
*/
.complastadts {
  margin-top: 1rem;
}

.comlastadts-title {
  font-size: 20px; font-weight: 600;
}

.complastadts-cats {
  margin-top: .6rem;
  display: flex; justify-content: flex-start; align-items: center;
}

@media only screen and (max-width: 650px) {
  .complastadts-cats {

     justify-content: space-between;
  }
}

.complastadts-cats-item {
  color: rgba(0, 0, 0, 0.4);
  font-size: 15px; font-weight: 500;
  cursor: pointer;
  transition: all .1s ease;
  margin-right: 1.6rem;
}

@media only screen and (max-width: 650px) {
  .complastadts-cats-item {
    font-size: 12px;
    margin-right: 0;
  }
}

.complastadts-cats-itemactive {
  color: rgba(0, 0, 0, 0.8)
}

.complastadts-audits {
  margin-top: 1rem;
}

.complastadts-audits-item {
  display: flex; justify-content: space-between; align-items: center;
  border-radius: var(--border-radius-small);
  background-color: rgb(233, 233, 233);
  padding: .4rem 1rem .4rem .4rem;
  height: 55px;
  margin-bottom: .6rem;
  font-size: 15px;
  transition: all .3s ease-in;
}

.complastadts-audits-itemwhitebg {
  background-color: rgb(247, 247, 247);
}

.complastadts-audits-itemani {
  animation: 1s ease 0s ani-complastadts-audits-item;
}

.complastadts-audits-item-imgnamesymbol {
  height: 100%;
  display: flex; justify-content: flex-start; align-items: center;
}

.complastadts-audits-item-imgnamesymbol-img {
  background-color: white;
  height: 100%;
  padding: .4rem;
  border-radius: var(--border-radius-small);
}

.complastadts-audits-item-imgnamesymbol-img > img {
  display: block;
  height: 100%;
}

.complastadts-audits-item-imgnamesymbol-namesymbol {
  margin-left: 1rem;
}

.complastadts-audits-item-imgnamesymbol-namesymbol-symbol {
  font-weight: 500;
}

.complastadts-audits-item-imgnamesymbol-namesymbol-name {
  color: rgba(0, 0, 0, 0.7);
  font-size: 14px;
}

.complastadts-audits-item-date {

}

@media only screen and (max-width: 650px) {
  .complastadts-audits-item-date {
    display: none;
  }
}

.complastadts-audits-item-btn {
  padding: .4rem 1rem;
  border-radius: var(--border-radius-small);
  background-color: black;
  color: white;
  cursor: pointer;
}

@keyframes ani-complastadts-audits-item {
  from {
    opacity: .4;
    transform: translateX(10rem);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

