.sectiondash {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 1rem;
}

@media only screen and (max-width: 1150px) {
  .sectiondash {
    display: block;
  }
}

@media only screen and (max-width: 650px) {
  .sectiondash {
    padding-top: 0;
    display: block;
  }
}

.sectiondash-left {
  width: 50%;
  margin-right: 2rem;
}

@media only screen and (max-width: 1150px) {
  .sectiondash-left {
    width: 100%;
    margin-right: 0;
  }
}

.sectiondash-left-inputarea {
  margin-top: 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

@media only screen and (max-width: 650px) {
  .sectiondash-left-inputarea {
    display: block;
  }
}

.sectiondash-left-inputarea-live {
  height: calc(4rem + 36px);
  width: 240px;
  background-color: rgb(235, 235, 235);
  border-radius: var(--border-radius-large);
  padding: 1rem;
  font-size: 13px;
  line-height: 17px;
  position: relative;
  margin-right: 1rem;
}

@media only screen and (max-width: 650px) {
  .sectiondash-left-inputarea-live {
    width: 100%;
    height: auto;
  }
}

.sectiondash-left-inputarea-live-logo {
  background-color: brown;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 10px;
  color: white;
  position: absolute;
  left: -12px;
  top: -12px;
}

@media only screen and (max-width: 650px) {
  .sectiondash-left-inputarea-live-logo {
    width: 24px;
    height: 24px;
    font-size: 9px;
    left: -6px;
    top: -6px;
  }
}

.sectiondash-right {
  width: 50%;

}

@media only screen and (max-width: 1150px) {
  .sectiondash-right {
    width: 100%;
 
  }
}

@media only screen and (max-width: 650px) {
  .sectiondash-right {
    margin-top: 0;
  }
}


/*
*
* HELLO COMPONENT
*
*/
.comphello {
  height: 170px;
  border-radius: var(--border-radius-large);
  background-color: rgb(235, 235, 235);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}

@media only screen and (max-width: 650px) {
  .comphello {
    height: 120px;
    margin-top: 1rem;
  }
}

.comphello-textarea {
  margin-left: 2rem;
}

@media only screen and (max-width: 650px) {
  .comphello-textarea {
    margin-left: 1rem;
  }
}

.comphello-textarea-title {
  font-size: 30px;
  font-weight: bold;
}

@media only screen and (max-width: 1450px) {
  .comphello-textarea-title {
    font-size: 40px;
  }
}

@media only screen and (max-width: 650px) {
  .comphello-textarea-title {
    font-size: 16px;
  }
}

.comphello-textarea-desc {
  font-size: 18px;
  font-weight: 400;
}

@media only screen and (max-width: 1450px) {
  .comphello-textarea-desc {
    font-size: 22px;
  }
}

@media only screen and (max-width: 650px) {
  .comphello-textarea-desc {
    font-size: 13px;
  }
}

.comphello-manimg {
  width: 170px;
  position: absolute;
  right: 10%;
  bottom: 0;
}

@media only screen and (max-width: 650px) {
  .comphello-manimg {
    width: 110px;
    right: 8%;
  }
}

/**
*
* INPUT COMPONENT
*
*/
.compinput {
  border-radius: var(--border-radius-large);
  background-color: rgb(235, 235, 235);
  padding: 1rem;
  position: relative;
  width: 100%;
}

@media only screen and (max-width: 650px) {
  .compinput {
    margin-top: 1rem;
  }
}

.compinput-bg {
  border-radius: var(--border-radius-small);
  background-color: white;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media only screen and (max-width: 650px) {
  .compinput-bg {
    padding: 0;
    background-color: transparent;
  }
}

.compinput-bg-inputarea {
  height: 36px;
  width: 100%;
  border-radius: var(--border-radius-small);
  border: 1px solid rgb(218, 218, 218);
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: white;
}

@media only screen and (max-width: 650px) {
  .compinput-bg-inputarea {
    height: 38px;
  }
}

.compinput-bg-inputarea-dd {
  width: 50px;
  height: 100%;
  border-right: 1px solid rgb(218, 218, 218);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.4rem 0.4rem;
}

.compinput-bg-inputarea-dd > img {
  display: block;
  height: 100%;
}

.compinput-bg-inputarea-ddoptions {
  transition: all 0.2s ease;
  width: 200px;
  height: 0;
  overflow: hidden;
  overflow-y: scroll;
  position: absolute;
  top: 100%;
  left: 0;
  opacity: 0;
  border-radius: var(--border-radius-small);
  background-color: white;
  box-shadow: 0px 10px 20px 1px rgba(0, 0, 0, 0.3);
}

.compinput-bg-inputarea-ddoptionsopen {
  height: 200px;
  opacity: 1;
}

.compinput-bg-inputarea-ddoptions-item {
  transition: all 0.2 ease-in;
  padding: 0.6rem 0.8rem;
  height: 36px;
  border-bottom: 1px solid rgb(218, 218, 218);
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.compinput-bg-inputarea-ddoptions-item:hover {
  background-color: rgb(218, 218, 218);
}

.compinput-bg-inputarea-ddoptions-item-img {
  display: block;
  height: 100%;
}

.compinput-bg-inputarea-ddoptions-item-name {
  margin-left: 1rem;
  font-size: 12px;
  font-weight: 500;
}

.compinput-bg-inputarea-input {
  height: 100%;
  width: 100%;
  padding: 0 0.8rem;
  font-weight: 500;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
  font-weight: 600;
  border-radius: var(--border-radius-small);
}

@media only screen and (max-width: 650px) {
  .compinput-bg-inputarea-input {
    font-size: 12px;
  }
}

.compinput-bg-btn {
  margin-left: 1rem;
  height: 36px;
  width: 120px;
  border-radius: var(--border-radius-small);
  font-size: 14px;
  font-weight: 800;
  background-color: #63a078;
  color: white;
  cursor: pointer;
}

@media only screen and (max-width: 650px) {
  .compinput-bg-btn {
    font-size: 13px;
    margin-left: 0.6rem;
  }
}

/**
*
* LATEST AUDITS COMPONENT
*
*/
.complastadts {
  margin-top: 1rem;
}

.comlastadts-title {
  font-size: 20px;
  font-weight: 600;
}

.complastadts-cats {
  margin-top: 0.6rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

@media only screen and (max-width: 650px) {
  .complastadts-cats {
    justify-content: space-between;
  }
}

.complastadts-cats-item {
  color: rgba(0, 0, 0, 0.4);
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.1s ease;
  margin-right: 1.6rem;
}

@media only screen and (max-width: 650px) {
  .complastadts-cats-item {
    font-size: 12px;
    margin-right: 0;
  }
}

.complastadts-cats-itemactive {
  color: rgba(0, 0, 0, 0.8);
}

.complastadts-audits {
  margin-top: 1rem;
}

@media only screen and (max-width: 650px) {
  .complastadts-audits {
    overflow: hidden;
  }
}

.complastadts-audits-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: var(--border-radius-small);
  background-color: rgb(233, 233, 233);
  padding: 0.5rem 1rem 0.5rem 0.5rem;
  height: 66px;
  margin-bottom: 0.8rem;
  font-size: 15px;
  transition: all 0.3s ease-in;
}

.complastadts-audits-itemwhitebg {
  background-color: rgb(247, 247, 247);
}

@keyframes ani-complastadts-audits-item {
  from {
    opacity: 0.4;
    transform: translateX(10rem);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}


.complastadts-audits-itemani {
  animation: 1s ease 0s ani-complastadts-audits-item;
}

.complastadts-audits-item-imgnamesymbol {
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.complastadts-audits-item-imgnamesymbol-img {
  background-color: white;
  height: 100%;
  padding: 0.5rem;
  border-radius: var(--border-radius-small);
}

.complastadts-audits-item-imgnamesymbol-img > img {
  display: block;
  height: 100%;
}

.complastadts-audits-item-imgnamesymbol-namesymbol {
  width: 100px;
  margin-left: 1rem;
}

.complastadts-audits-item-imgnamesymbol-namesymbol-symbol {
  font-weight: 500;
}

.complastadts-audits-item-imgnamesymbol-namesymbol-name {
  color: rgba(0, 0, 0, 0.7);
  font-size: 14px;
}

.complastadts-audits-item-date {
  width: 100px;
}

@media only screen and (max-width: 650px) {
  .complastadts-audits-item-date {
    display: none;
  }
}

.complastadts-audits-item-btn {
  padding: 0.4rem 1rem;
  border-radius: var(--border-radius-small);
  background-color: #63a078;
  color: white;
  cursor: pointer;
}


/**
*
* COMPONENT PROFILE INPUT
*
*/

.compprofileinput {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}

@media only screen and (max-width: 650px) {
  .compprofileinput {
    display: block;
    height: auto;
  }
}

.compprofileinput-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 650px) {
  .compprofileinput-left {
    width: 100%;
    display: none;
  }
}

.compprofileinput-left-input {
  border-radius: var(--border-radius-small);
  background-color: rgb(235, 235, 235);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0.4rem 0.8rem;
  width: 100%;
  height: 100%;
}

.compprofileinput-left-input > svg {
  width: 26px;
  height: 26px;
}

.compprofileinput-left-input > input {
  margin-left: 0.6rem;
  font-size: 16px;
  background-color: transparent;
  width: 100%;
}

.compprofileinput-left-profile {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1rem;
}

.compprofileinput-left-profile-notification {
  display: flex;
  justify-content: center;
  align-items: center;
}

.compprofileinput-left-profile-notification > svg {
  width: 22px;
  height: 22px;
}

.compprofileinput-left-profile > img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: var(--border-radius-small);
  margin-left: 0.4rem;
}

.compprofileinput-left-profile-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
}

.compprofileinput-right {
  margin-left: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

@media only screen and (max-width: 650px) {
  .compprofileinput-right {
    margin-top: 1rem;
    margin-left: 0;
    height: 50px;
  }
}

.compprofileinput-right-buynow {
  color: whitesmoke;
  background-color: black;
  white-space: nowrap;
  height: 100%;
  padding: 0 0.8rem;
  font-size: 12px;
  border: 1px solid rgba(223, 219, 219, 0.4);
  border-radius: var(--border-radius-small);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media only screen and (max-width: 650px) {
  .compprofileinput-right-buynow {
    width: 100%;
  }
}

.compprofileinput-right-buynow-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.compprofileinput-right-buynow-top-token {
  font-weight: bold;
}

.compprofileinput-right-buynow-top-price {
  margin-left: 1rem;
}

.compprofileinput-right-buynow-bottom-title {
  width: 100%;
  color: rgba(255, 255, 255, 0.6);
}

.compprofileinput-right-conwallet {
  margin-left: 1rem;
  white-space: nowrap;
  height: 100%;
  padding: 0 1.4rem;
  font-size: 16px;
  font-weight: 500;
  border-radius: var(--border-radius-small);
  color: black;
  background-color: rgb(235, 235, 235);
  border: 2px solid rgb(202, 202, 202);
  cursor: pointer;
}

@media only screen and (max-width: 650px) {
  .compprofileinput-right-conwallet {
    width: 100%;
  }
}


/*
*
* COMPONENT BOXES
*
*/
.compboxes {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

@media only screen and (max-width: 650px) {
  .compboxes {
    display: none;
  }
}

.compboxes-box {
  width: 30%;
  padding: 1rem;
  border-radius: var(--border-radius-large);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(233, 233, 233);
  margin-bottom: 1rem;
}

@media only screen and (max-width: 1150px) {
  .compboxes-box {
    width: 100%;
    margin-right: 0;
  }
}

.compboxes-box-title {
  font-weight: bold;
  font-size: 26px;
}

.compboxes-box-desc {
  margin-left: 1rem;
}



/*
*
* COMPONENT WHALE TRACKER
*
*/

.compwhaletracker {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: var(--border-radius-large);
  font-size: 15px;
  overflow: hidden;

}

@media only screen and (max-width: 650px) {
  .compwhaletracker {
    margin-top: 1rem;
  }
}

.compwhaletracker-config {
  padding: .6rem .6rem;
  display: flex; justify-content: space-between; align-items: center;
}

.compwhaletracker-config-title {
  display: flex; justify-content: center; align-items: center;
  font-weight: 500;
}

.compwhaletracker-config-title-i {
  margin-left: .3rem;
  position: relative;
  cursor: pointer;
  display: flex; justify-content: center; align-items: center;
}

.compwhaletracker-config-title-i > svg {
  width: 18px; height: 18px;
}

.compwhaletracker-config-title-i-modal {
  display: none;
  position: absolute;
  left: -110px;
  top: 140%;
  background-color: black;
  color: white;
  width: 260px;
  font-size: 12px;
  padding: .4rem .8rem;
  border-radius: var(--border-radius-small);
  transition: all .2s ease-in;
}

.compwhaletracker-config-title-i-modalactive {
  display: block;
}

.compwhaletracker-config-chaindd {
  position: relative;
}

.compwhaletracker-config-chaindd-selected {
  display: flex; justify-content: center; align-items: center;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: .2rem .4rem;
  border-radius: var(--border-radius-small);
}

.compwhaletracker-config-chaindd-selected > img {
  display: block;
  width: 20px;
}

.compwhaletracker-config-chaindd-selected > svg {
  width: 20px; height: 20px;
  margin-left: .4rem;
}

.compwhaletracker-config-chaindd-options {
  position: absolute;
  right: 0;
  top: 110%;
  border-radius: var(--border-radius-small);
  overflow: hidden;
  display: none;
  transition: all .2s ease;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.compwhaletracker-config-chaindd-optionsactive {
  display: block;
}

.compwhaletracker-config-chaindd-options-item {
  display: flex; justify-content: flex-start; align-items: center;
  padding: .6rem .6rem;
  cursor: pointer;
}

.compwhaletracker-config-chaindd-options-item:hover {
  background-color: rgb(231, 231, 231);
}

.compwhaletracker-config-chaindd-options-item > img {
  width: 18px; height: 18px;
  object-fit: cover;
}

.compwhaletracker-config-chaindd-options-item-name {
  white-space: nowrap;
  margin-left: .6rem;
  width: 80px;
  font-size: 13px; font-weight: 500;
  color: black;
}

.compwhaletracker-config-chaindd-options-item-check {
  margin-left: .6rem;
  outline: non;
  border: none;
  background-color: aliceblue;
}

.compwhaletracker-titles {
  padding: .6rem .6rem;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  display: flex; justify-content: space-between; align-items: center;
  font-size: 14px; font-weight: 500; 
  color: rgba(0, 0, 0, 0.6);
}

.compwhaletracker-titles-name {
  width: 150px;
}

.compwhaletracker-titles-amount {
  width: 70px;
  text-align: center;
}

.compwhaletracker-titles-maker {
  width: 70px;
  text-align: right;
}

.compwhaletracker-rows {
  height: 250px;
  overflow-y: scroll;
}

.compwhaletracker-rows::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.compwhaletracker-rows {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.compwhaletracker-rows-loading {
  width: 100%; height: 100%;
  display: flex; justify-content: center; align-items: center;
}

@keyframes ani-compwhaletracker-rows-loading {
  from {
    transform: rotateZ(0deg);
  }

  to {
    transform: rotateZ(360deg);
  }
}

.compwhaletracker-rows-loading > svg {
  width: 42px; height: 42px;
  animation: ani-compwhaletracker-rows-loading 1s linear 0s infinite
}

.compwhaletracker-rows-row {
  padding: .4rem .6rem;
  margin-bottom: .2rem;
  display: flex; justify-content: space-between; align-items: center;
  font-size: 13.8px;

}

.compwhaletracker-rows-rowredbg {
  background-color: rgba(255, 94, 30, 0.2)
}

.compwhaletracker-rows-rowgreenbg {
  background-color: rgba(42, 255, 138, 0.2);
}

.compwhaletracker-rows-row-imgnamesymbol {
  display: flex; justify-content: flex-start; align-items: center;
  width: 150px;
}

.compwhaletracker-rows-row-imgnamesymbol > img {
  display: block;
  width: 30px; height: 30px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid white;
}

.compwhaletracker-rows-row-imgnamesymbol-namesymbol {
  margin-left: .6rem;
  white-space: nowrap;
  overflow: hidden;
}

.compwhaletracker-rows-row-imgnamesymbol-namesymbol-symbol {
  font-weight: 600;
}

.compwhaletracker-rows-row-imgnamesymbol-namesymbol-name {
  font-weight: 400;
}

.compwhaletracker-rows-row-amount {
  width: 70px;
  text-align: center;
  font-weight: bolder;
}

.compwhaletracker-rows-row-amountgreen {
  color: rgb(0, 173, 9);
}

.compwhaletracker-rows-row-amountred {
  color: rgb(255, 62, 62);
}

.compwhaletracker-rows-row-maker {
  width: 70px;
  text-align: right;
  color: rgb(59, 128, 255);
  letter-spacing: 0;
  font-weight: 500;
  cursor: pointer;
}

/*
*
* COMPONENT UPCOMING UNLOCKS
*
*/
.compupcomingunlocks {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: var(--border-radius-large);
  font-size: 15px;
  overflow: hidden;
  margin-top: 1rem;
}

@media only screen and (max-width: 650px) {
  .compupcomingunlocks {
    margin-top: 1rem;
  }
}

.compupcomingunlocks-config {
  padding: .6rem .6rem;
  display: flex; justify-content: space-between; align-items: center;
}

.compupcomingunlocks-config-title {
  display: flex; justify-content: center; align-items: center;
  font-weight: 500;
}

.compupcomingunlocks-config-title-i {
  margin-left: .3rem;
  position: relative;
  cursor: pointer;
  display: flex; justify-content: center; align-items: center;
}

.compupcomingunlocks-config-title-i > svg {
  width: 18px; height: 18px;
}

.compupcomingunlocks-config-title-i-modal {
  display: none;
  position: absolute;
  left: -110px;
  top: 140%;
  background-color: black;
  color: white;
  width: 260px;
  font-size: 12px;
  padding: .4rem .8rem;
  border-radius: var(--border-radius-small);
  transition: all .2s ease-in;
}

.compupcomingunlocks-config-title-i-modalactive {
  display: block;
}

.compupcomingunlocks-titles {
  padding: .6rem .6rem;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  display: flex; justify-content: space-between; align-items: center;
  font-size: 14px; font-weight: 500; 
  color: rgba(0, 0, 0, 0.6);
}

.compupcomingunlocks-titles-name {
  width: 150px;
}

.compupcomingunlocks-titles-amount {
  width: 110px;
  text-align: right;
}

.compupcomingunlocks-titles-date {
  width: 70px;
  text-align: right;
}

.compupcomingunlocks-rows {
  height: 250px;
  overflow-y: scroll;
}

.compupcomingunlocks-rows::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.compupcomingunlocks-rows {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.compupcomingunlocks-rows-loading {
  width: 100%; height: 100%;
  display: flex; justify-content: center; align-items: center;
}

@keyframes ani-compupcomingunlocks-rows-loading {
  from {
    transform: rotateZ(0deg);
  }

  to {
    transform: rotateZ(360deg);
  }
}

.compupcomingunlocks-rows-loading > svg {
  width: 42px; height: 42px;
  animation: ani-compupcomingunlocks-rows-loading 1s linear 0s infinite
}

.compupcomingunlocks-rows-row {
  padding: .4rem .6rem;
  margin-bottom: .2rem;
  display: flex; justify-content: space-between; align-items: center;
  font-size: 13.8px;
  background-color: rgba(68, 109, 223, 0.08);
  color: black;
}

.compupcomingunlocks-rows-row:hover {
  background-color: rgba(68, 109, 223, 0.14);
}

.compupcomingunlocks-rows-rowredbg {
  background-color: rgba(255, 94, 30, 0.2);
}

.compupcomingunlocks-rows-rowgreenbg {
  background-color: rgba(42, 255, 138, 0.2);
}

.compupcomingunlocks-rows-row-imgnamesymbol {
  display: flex; justify-content: flex-start; align-items: center;
  width: 150px;
}

.compupcomingunlocks-rows-row-imgnamesymbol > img {
  display: block;
  width: 30px; height: 30px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid white;
}

.compupcomingunlocks-rows-row-imgnamesymbol-namesymbol {
  margin-left: .6rem;
  white-space: nowrap;
  overflow: hidden;
}

.compupcomingunlocks-rows-row-imgnamesymbol-namesymbol-symbol {
  font-weight: 600;
}

.compupcomingunlocks-rows-row-imgnamesymbol-namesymbol-name {
  font-weight: 400;
}

.compupcomingunlocks-rows-row-amount {
  width: 110px;
  text-align: right;
  font-weight: 500;
  
}

.compupcomingunlocks-rows-row-amountgreen {
  color: rgb(0, 173, 9);
}

.compupcomingunlocks-rows-row-amountred {
  color: rgb(255, 62, 62);
}

.compupcomingunlocks-rows-row-amount-lockedamount {
  display: flex; justify-content: flex-end; align-items: center;
  font-size: 13px;
}

.compupcomingunlocks-rows-row-amount-lockedamount > svg {
  width: 10px; height: 10px;
}

.compupcomingunlocks-rows-row-amount-lockedamount > span {
  margin-left: .3rem;
}

.compupcomingunlocks-rows-row-amount-lockedamount-percentage {
  font-size: 11px; font-weight: 500;
}

.compupcomingunlocks-rows-row-amount-usd {
  font-size: 13px
}

.compupcomingunlocks-rows-row-date {
  width: 70px;
  text-align: right;
  letter-spacing: 0;
  font-weight: 500;
  cursor: pointer;
}
