* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  outline: none;
  font-family: 'Murecho', sans-serif;
}

html {
  scroll-behavior: smooth;
  display: flex; justify-content: center; align-items: center;
  height: 100%;
}

body {
  max-width: 1920px; height: 100%;
  position: relative; /* Sidebar relative to body*/
}

input::placeholder {
  opacity: 0.5;
  font-family: 'Murecho', sans-serif;
}

/* SCROLL BAR */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}